.directory-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100vh - 73px);
  background-color: white;
  z-index: 1;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.directory-page h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0px;
}

.backdrop {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.48);
  width: 20%;
}

.backdrop button {
  background-color: transparent;
  border: none;
  margin: 10px;
  height: fit-content;
  float: right;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden {
    display: block;
  }
  .backdrop {
    display:none;
    position: relative;
  }
  .directory-page{
    position: static;
    width:40vw;
    max-width: 480px;
  }
}

