.route-page {
  display: flex;
}

button {
  cursor: pointer;
}

.stores-button {
  position: fixed;
  top: 73px;
  z-index: 1;
  margin: 10px;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .route-page-right{
    flex-grow: 1;
  }
  .stores-button {
    display: none;
  }
}