/* .mall-page-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  align-items: center;
} */

/* .mobile-heading{
  font-weight: bold;
  font-size:20px;
  margin-left: 20px;
} */

.mall-page-top {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.mall-page h1 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mall-page{
    max-width:768px;
    margin: auto;
  }
  .mall-page h1 {
    display: block;
    font-size: 60px;
  }
  /* .mobile-heading{
    display: none;
  }
  .mall-page-header {
    justify-content: center;
  } */
}