.mall-page {
  margin: 0px;
  padding: 0px;
}

.mall-page-top {
  background-color: maroon;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.mall-page h1 {
  margin: 0px;
  color: white;
}