.mall-page-top {
  background-color: maroon;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.mall-page h1 {
  margin: 0px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .mall-page{
    max-width:768px;
    margin: auto;
  }
  .mall-page-top {
    background: none;
    margin: 100px 0px 10px;
  }
  .mall-page h1 {
    color: black;
    font-size: 60px;
  }
}