a {
  color: black;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  align-items: center;
}

.navbar.stores {
justify-content: center;
}

.mobile-heading {
  font-weight: bold;
  font-size:20px;
  margin-left: 20px;
}

.mobile-heading.stores {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-heading{
    display: none;
  }
  .navbar {
    justify-content: center;
  }
}