.searchbox {
  display: flex;
  align-items: center;
  padding: 5px;
  background: white;
  border-radius: 30em;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
}
.searchbox.directory {
  margin: 12px;
}

.searchbox input {
  padding: 5px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
}

.searchbox.directory input {
  font-size: 16px;
}

.searchbox input:focus {
  outline: none;
}

.search-icon {
  margin: 0px 10px;
}
