.shop-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.shop-list li{
  display:flex;
  justify-content: space-between;
  margin: 0px;
  padding: 12px;
  border-bottom: solid 1px black;
  cursor: pointer;
}

.shop{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.shop-name{
  font-size: 16px;
  font-weight: bold;
}

.shop-location {
  font-size: 12px;
}

.checklist-left {
  display: flex;
  align-items: center;
}

.checklist-left input{
  cursor: pointer;
  transform: scale(2);
  padding: 10px;
  border-radius: 10px;
}

