.directory {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  overflow-y: scroll;
}

.directory li{
  display:flex;
  justify-content: space-between;
  margin: 0px;
  padding: 12px;
  border-bottom: solid 1px black;
}

.shop{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.shopName{
  font-size: 25px;
  font-weight: bold;
}

.shopLocation {
  font-size: 15px;
}

.checklist-left {
  display: flex;
  align-items: center;
}

.checklist-left input{
  cursor: pointer;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

